:root {
  --font-family: Menlo, Roboto Mono, monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #262225;
}

.encrip-main {
  position: relative;
  width: 70%;
  height: 95%;
  border-radius: 10px;
  background-color: #29354b;
  display: flex;
  flex-direction: column;
}

.section-encrip {
  width: 100%;
  height: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px 0;
  background-color: #4c8891;
}

#input-encrip {
  text-transform: lowercase;
  outline: none;
  border: none;
  color: #444;
  font-size: 1.4rem;
  height: 19vh;
  padding: 0.5rem 2rem;
  margin: 0 0 4px 0;
  display: block;
  resize: none;
  box-shadow: 0px 5px 7px -3px #000000;
  border-radius: 10px;
  width: 80%;
}

.btn-container {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.btn {
  --btn-default-bg: rgb(41, 41, 41);
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(51, 51, 51);
  --btn-transition: 0.3s;
  --btn-letter-spacing: 0.1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #fac921;
  --default-btn-color: #fff;
  --font-size: 16px;
  --font-weight: 600;
}

/* btn__delete settings 👆 */

.btn {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
}

.btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.btn:hover,
.btn:focus {
  background: var(--btn-hover-bg);
}

.btn:hover span,
.btn:focus span {
  color: var(--hover-btn-color);
}

.btn:hover span::before,
.btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";}35%{content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}

.section-text {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
  align-items: center;
  gap: 50px;
  font-family: var(--font-family);
}

.text-encrip {
  width: 80%;
  height: 200px;
  color: #a0c8c3;
  font-size: 1.4rem;
  padding: 15px;
  font-family: var(--font-family);
  overflow: hidden;
  white-space: break-spaces;
  text-overflow: ellipsis;
}

.btn__traslate {
  --plus_sideLength: 2.5rem;
  --plus_topRightTriangleSideLength: 0.9rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: var(--plus_sideLength);
  height: var(--plus_sideLength);
  background-color: #000000;
  overflow: hidden;
}

.btn__traslate::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 var(--plus_topRightTriangleSideLength)
    var(--plus_topRightTriangleSideLength) 0;
  border-style: solid;
  border-color: transparent white transparent transparent;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.btn__traslate:hover {
  cursor: pointer;
}

.btn__traslate:hover::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.btn__traslate:focus-visible::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.btn__traslate > .icon {
  color: white;
  width: calc(var(--plus_sideLength) * 0.7);
  height: calc(var(--plus_sideLength) * 0.7);
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.btn__traslate:hover > .icon {
  color: black;

  transform: rotate(180deg);
}

.btn__traslate:focus-visible > .icon {
  color: black;
  transform: rotate(180deg);
}

/* styles btn__delete copy */
.btn__copi {
  width: 135px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);
  cursor: pointer;
}

.text {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(2, 153, 153);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
}

.copy__icon {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: teal;
}

.btn__copi:hover .text {
  background-color: rgb(0, 133, 133);
}

.btn__copi:hover .copy__icon {
  background-color: rgb(0, 105, 105);
}

@media (width <= 500px) {
  .encrip-main {
    width: 95%;
  }
  .text-encrip {
    font-size: 1rem;
  }
  #input-encrip {
    width: 100%;
    height: 60%;
  }
  .section-encrip {
    gap: 20px;
  }
}

.info {
  position: absolute;
  font-family: var(--font-family);
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #509af8;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
}

.info__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.info__icon path {
  fill: #fff;
}

.info__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.info__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.info__close path {
  fill: #fff;
}

/* btn delete */
.btn__delete {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.delete__icon {
  width: 12px;
  transition-duration: 0.3s;
}

.delete__icon path {
  fill: white;
}

.btn__delete:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.btn__delete:hover .delete__icon {
  width: 50px;
  transition-duration: 0.3s;
  transform: translateY(60%);
}

.btn__delete::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 8px;
  font-weight: 700;
}

.btn__delete:hover::before {
  font-size: 15px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: 0.3s;
}
